In [1]:
import pandas as pd   #패키지는 다 설치되어 있다고 가정
import numpy as np

# 문제 1. 
  
빈 리스트 a,b 가 있다. 0~9의 숫자 중 짝수는 a 리스트에, 홀수는 b 리스트에 들어가도록 하시오.(0은 짝수라 가정)

In [2]:
print(a,b)

[0, 2, 4, 6, 8] [1, 3, 5, 7, 9]

# 문제 2.
a, b, c, d, e의 데이터에 대한 타입(type)을 출력하시오. 그리고 주석을 이용해 그 타입에 대한 설명을 간략히 하시오.

In [19]:
a = 10
b = (1.44,'bitamin')
c = "비타민"
d = [1, 2, 3, 4, 5]
e = {'특별시':'천안','충남':'서울','인천':'광역시'}

# 문제 3.

### score는 학생들의 점수이다. 반복문과 조건문을 사용하여 점수가 80점 이상이면 우수, 60점 이상 80점 미만은 보통 , 그렇지 않으면 미흡임을 알려주도록 하시오.

In [4]:
score = [90,25,67,45,80]

우수
미흡
보통
미흡
우수

#  문제 4.

In [5]:
import seaborn as sns  
titanic=sns.load_dataset('titanic')
titanic.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

**위에 코드를 실행하고 문제를 해결하시오**
1. titanic에서 pclass,fare열를 뽑아 df에 저장하시오.(loc 방법 사용)
2. 정규화 하는 함수( 정규화 식: z=(x-min(x))/(max(x)-min(x)) 를 만드시오. (함수 이름: z_score, 반드시 lambda 이용)
3. 위에서 만든 함수를 df의 fare 변수에 적용하시오.

In [16]:
df.head(3)

   pclass      fare
0       3  0.014151
1       1  0.139136
2       3  0.015469

# 문제5. 
**insurance2.csv 파일을 사용**
- insurance2 를 불러와 df에 저장하여라  
- df열에 Nan 값이 있는지 확인하여라  
- na가 있다면 그 전 데이터 값으로 채워라